{% extends "challenges/site.html" %}

{% block body %}
<div class="jumbotron" style="position: relative; top: -20px">
    <div class="container">
        <h1>Challenge, Accepted</h1>
        <!--<p><img src="https://imgs.xkcd.com/comics/correlation.png" /></p>-->
        Browse open Data Science challenges.
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="panel panel-default">
                <div class="panel-heading">Challenges</div>
                <div class="panel-body">
                    <p><a href="add" class="btn btn-raised btn-info">Submit a new Challenge</a></p>
                </div>

                <ul>
                    {% for challenge in challenges %}
                    <li>
                        <a href="/challenges/{{ challenge.slug }}"><h2>{{ challenge.name }}</h2></a>
                        <p>{{ challenge.summary }}</p>
                    </li>
                    {% empty %}
                    <li>No challenges found.</li>
                    {% endfor %}
                </ul>

            </div>
        </div>
    </div>
</div>
{% endblock body %}
