{% extends "challenges/site.html" %}
{% load humanize %}

{% block body %}
<div class="jumbotron" style="position: relative; top: -20px">
    <div class="container">
        <h1>Challenge, Accepted</h1>
        <!--<p><img src="https://imgs.xkcd.com/comics/correlation.png" /></p>-->
        Browse open Data Science challenges.
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="panel panel-default">
                <div class="panel-heading">Challenges</div>
                <div class="panel-body">

                    {% if challenges %}
                    <div class="list-group">
                        {% for challenge in challenges %}
                        <a href="/challenges/{{ challenge.slug }}">
                            <div class="list-group-item">
                                <div class="row-action-primary">
                                    <i class="material-icons">timeline</i>
                                </div>
                                <div class="row-content">
                                    <div class="least-content">updated {{ challenge.updatedate|naturalday }}</div>
                                    <h4 class="list-group-item-heading">{{ challenge.name }}</h4>

                                    <p class="list-group-item-text">{{ challenge.summary }}</p>
                                </div>
                            </div>
                        </a>
                        <div class="list-group-separator"></div>
                        {% endfor %}
                    </div>
                    {% else %}
                    No challenges found.
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <p><a href="add" class="btn btn-raised btn-info">Submit a new Challenge</a></p>
        </div>
    </div>
</div>
{% endblock body %}
